*{
    text-decoration: none;
    list-style: none;
    text-align: center;
}

body{
    /* background: rgb(31, 9, 9); */
    background: black;
    color: white;
}
h1,h2{
    color: pink;
}

dt , a{
    text-align: center;
    color: teal;
}
td h3{
    text-align: left;
    color: teal;
}
hr{
    border-style: none;
    border-color: pink;
    border-top-style: dotted;
    border-width:5px ;
    width: 30%;
}

table{
    margin: auto;
}

td{
text-align: left;
}